@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  --color-cyberCyan: #4fdfff;
  --color-cyberMint: #5df2c6;
  --color-cyberRed: #a00000;
  --color-cyberRedHover: #c00000;
}

@layer base {
  html, body {
    width: 100%;
    height: 100%;
    font-weight: 700;
    overflow: hidden;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4fdfff;
  }
}
